  
body{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center; /* alinha horizontal*/
    align-items: center;/*alinha vertical*/
    flex-direction: column; /*deixa um embaixo do outro*/
    color: rgb(28, 0, 128)
}